<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Wuud - Furniture Store Website HTML5 Template | Homepage</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Description website">
<meta name="author" content="Maksym Blank">
<meta name="keywords" content="website, with, meta, tags">
<meta name="robots" content="noindex, follow">
<meta name="revisit-after" content="5 month">
<meta name="image" content="http://mywebsite.com/image.jpg">
<meta name="og:title" content="Title website">
<meta name="og:description" content="Description website">
<meta name="og:image" content="http://mywebsite.com/image.jpg">
<meta name="og:site_name" content="My Website">
<meta name="og:type" content="website">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Title website">
<meta name="twitter:description" content="Description website">
<link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">

<link href="/css/plugins/bootstrap.min.css" rel="stylesheet">
<link href="/fonts/font-awesome.min.css" rel="stylesheet">
<link href="/css/plugins/magnific-popup.css" rel="stylesheet">
<link href="/css/plugins/slick.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/responsive.css" rel="stylesheet">
</head>
<body>

<div class="preloader">
<img src="/images/preloader.svg" alt="preloader">
</div>


<header class="header">

<div class="topbar">
<div class="container-fluid">
<div class="inner">

<div class="logo">
<a href="index.html">
<img src="/images/logo.png" class="image-fit" alt="logo">
</a>
</div>


<div class="search-form">
<form>

<div class="location">
<label>Your Location</label>
<select>
<option selected="">Select A Location</option>
<option value="New Delhi">New Delhi</option>
<option value="Mumbai">Mumbai</option>
<option value="Kolkata">Kolkata</option>
<option value="Chennai">Chennai</option>
</select>
</div>


<div class="input-group">
<input type="text" name="#" class="form-control" placeholder="Search for products..." autocomplete="off" required="">
<div class="input-group-append input-group-text">
<button type="submit">
<i class="fal fa-search"></i>
</button>
</div>
</div>

</form>
</div>


<div class="header_action">
<ul>
<li>
<a href="wishlist.html">
<i class="far fa-heart"></i>
</a>
</li>
 <li class="cart">
<a href="cart.html">
<span class="cart_value">0</span>
<i class="far fa-shopping-cart"></i>
<div class="cart_text">
My Cart
<span class="amount">$150.00</span>
</div>
</a>
</li>
<li class="user">
<a href="account.html">
<img src="/images/header/user.jpg" class="image-fit" alt="img">
<span>Jhon Deo</span>
</a>
<ul class="sub-menu">
<li>
<a href="login.html">Login</a>
</li>
<li>
<a href="register.html">SignUp</a>
</li>
<li>
<a href="account.html">My Account</a>
</li>
<li>
<a href="login.html">Logout</a>
</li>
</ul>
</li>
</ul>
</div>

</div>
</div>
</div>

</header>


<div class="main_navigation hide_cat">
<div class="container-fluid">
<div class="row">
<div class="col-lg-3 col-6">
<div class="main-collapse-wrap custom-accordion">
<button type="button">All Category</button>
<div id="cataccordion" class="accordion_wrap accordion">
<div class="card accordion-item">
<div class="card-header accordion-header">
<button class="btn btn-link accordion-button" data-bs-toggle="collapse" data-bs-target="#catOne">
<i class="fal fa-heart"></i>
Chair
</button>
</div>
<div id="catOne" class="accordion-collapse collapse show" data-bs-parent="#cataccordion">
<div class="card-body accordion-body">
<ul class="sub-category">
<li>
<a href="#">Category 1</a>
</li>
<li>
<a href="#">Category 2</a>
</li>
<li>
<a href="#">Category 3</a>
</li>
<li>
<a href="#">Category 4</a>
</li>
<li>
<a href="#">Category 5</a>
</li>
<li>
<a href="#">Category 6</a>
</li>
</ul>
</div>
 </div>
</div>
<div class="card accordion-item">
<div class="card-header accordion-header">
<button class="btn btn-link accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#catTwo">
<i class="fal fa-heart"></i>
Sofa
</button>
</div>
<div id="catTwo" class="accordion-collapse collapse" data-bs-parent="#cataccordion">
<div class="card-body accordion-body">
<ul class="sub-category">
<li>
<a href="#">Category 1</a>
</li>
<li>
<a href="#">Category 2</a>
</li>
<li>
<a href="#">Category 3</a>
</li>
<li>
<a href="#">Category 4</a>
</li>
<li>
<a href="#">Category 5</a>
</li>
<li>
<a href="#">Category 6</a>
</li>
</ul>
</div>
</div>
</div>
<div class="card accordion-item">
<div class="card-header accordion-header">
<button class="btn btn-link accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#catThree">
<i class="fal fa-heart"></i>
Table Lamp
</button>
</div>
<div id="catThree" class="accordion-collapse collapse" data-bs-parent="#cataccordion">
<div class="card-body accordion-body">
<ul class="sub-category">
<li>
<a href="#">Category 1</a>
</li>
<li>
<a href="#">Category 2</a>
</li>
<li>
<a href="#">Category 3</a>
</li>
<li>
<a href="#">Category 4</a>
</li>
<li>
<a href="#">Category 5</a>
</li>
<li>
<a href="#">Category 6</a>
</li>
</ul>
</div>
</div>
</div>
<div class="card accordion-item">
<div class="card-header accordion-header">
<button class="btn btn-link accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#catFour">
<i class="fal fa-heart"></i>
Tables
</button>
</div>
<div id="catFour" class="accordion-collapse collapse" data-bs-parent="#cataccordion">
<div class="card-body accordion-body">
<ul class="sub-category">
<li>
<a href="#">Category 1</a>
</li>
<li>
<a href="#">Category 2</a>
</li>
<li>
<a href="#">Category 3</a>
</li>
<li>
<a href="#">Category 4</a>
</li>
<li>
<a href="#">Category 5</a>
</li>
<li>
<a href="#">Category 6</a>
</li>
</ul>
</div>
</div>
</div>
<div class="card accordion-item">
<div class="card-header accordion-header">
<button class="btn btn-link accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#catFive">
<i class="fal fa-heart"></i>
Swing
</button>
</div>
<div id="catFive" class="accordion-collapse collapse" data-bs-parent="#cataccordion">
<div class="card-body accordion-body">
<ul class="sub-category">
<li>
<a href="#">Category 1</a>
</li>
<li>
<a href="#">Category 2</a>
</li>
<li>
<a href="#">Category 3</a>
</li>
<li>
<a href="#">Category 4</a>
</li>
<li>
<a href="#">Category 5</a>
</li>
<li>
<a href="#">Category 6</a>
</li>
</ul>
</div>
</div>
</div>
<div class="card accordion-item">
<div class="card-header accordion-header">
<button class="btn btn-link accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#catSix">
<i class="fal fa-heart"></i>
Cabinets
</button>
</div>
<div id="catSix" class="accordion-collapse collapse" data-bs-parent="#cataccordion">
<div class="card-body accordion-body">
<ul class="sub-category">
<li>
<a href="#">Category 1</a>
</li>
<li>
<a href="#">Category 2</a>
</li>
<li>
<a href="#">Category 3</a>
</li>
<li>
<a href="#">Category 4</a>
</li>
<li>
<a href="#">Category 5</a>
</li>
<li>
<a href="#">Category 6</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-9 col-6">
<div class="nav_inner">
<ul class="main-menu">
<li class="menu-item">
<a href="index.html" class="active">Home</a>
</li>
<li class="menu-item">
<a href="about.html">About Us</a>
</li>
<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
<ul class="sub-menu custom">
<li class="menu-item menu-item-has-children"><a href="#">Blog Grid</a>
<ul class="sub-menu custom">
<li class="menu-item"><a href="blog.html">Full Width</a></li>
<li class="menu-item"><a href="blog-left.html">Left Sidebar</a></li>
<li class="menu-item"><a href="blog-right.html">Right Sidebar</a></li>
</ul>
</li>
<li class="menu-item">
<a href="blog-details.html">Blog Details</a>
</li>
</ul>
</li>
<li class="menu-item menu-item-has-children"><a href="#">Pages</a>
<ul class="sub-menu custom">
<li class="menu-item menu-item-has-children"><a href="#">Account</a>
<ul class="sub-menu custom">
<li class="menu-item"><a href="account.html">My Account</a></li>
<li class="menu-item"><a href="login.html">Login</a></li>
<li class="menu-item"><a href="register.html">Register</a></li>
<li class="menu-item"><a href="payment.html">Payment</a></li>
<li class="menu-item"><a href="thankyou.html">Thank You</a></li>
</ul>
 </li>
<li class="menu-item">
<a href="faqs.html">Faq's</a>
</li>
<li class="menu-item">
<a href="terms-conditions.html">Terms &amp; Con.</a>
</li>
<li class="menu-item">
<a href="privacy.html">Policy</a>
</li>
<li class="menu-item">
<a href="error.html">Error 404</a>
</li>
</ul>
</li>
<li class="menu-item menu-item-has-children"><a href="#">Shop</a>
<ul class="sub-menu custom">
<li class="menu-item">
<a href="shop.html">Shop</a>
</li>
<li class="menu-item">
<a href="shop-details.html">Shop Details</a>
</li>
<li class="menu-item">
<a href="wishlist.html">Wishlist</a>
</li>
<li class="menu-item">
<a href="cart.html">Cart</a>
</li>
<li class="menu-item">
<a href="checkout.html">Checkout</a>
</li>
<li class="menu-item menu-item-has-children"><a href="#">Orders</a>
<ul class="sub-menu custom">
<li class="menu-item"><a href="order-list.html">Order List</a></li>
<li class="menu-item"><a href="order-details.html">Order Details</a></li>
</ul>
</li>
</ul>
</li>
<li class="menu-item">
<a href="contact.html">Contact</a>
</li>
</ul>
<div class="hamburger">
<div class="hamburger_btn">
<span></span>
<span></span>
<span></span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="banner">
<div class="banner_slider">

<div class="slide-item" style="background-image: url(/images/banner/81.jpg);">

<div class="section-padding">
<div class="container-fluid">
<div class="banner_content">
<h1 class="title">Contrary to popular belief, Lorem Ipsum is not simply</h1>
<p class="text"> Sale Up To<br>
<strong>80%</strong>
Off
</p>
<a href="shop.html" class="thm-btn btn-rounded thm-bg-color-one">Shop Now <i class="fal fa-long-arrow-right"></i></a>
</div>
</div>
</div>

</div>

<div class="slide-item" style="background-image: url(/images/banner/12.jpg);">

<div class="section-padding">
<div class="container-fluid">
<div class="banner_content">
<h1 class="title">Contrary to popular belief, Lorem Ipsum is not simply</h1>
<p class="text"> Sale Up To<br>
<strong>80%</strong>
Off
</p>
<a href="shop.html" class="thm-btn btn-rounded thm-bg-color-one">Shop Now <i class="fal fa-long-arrow-right"></i></a>
</div>
</div>
</div>

</div>

<div class="slide-item" style="background-image: url(/images/banner/14.jpg);">

<div class="section-padding">
<div class="container-fluid">
<div class="banner_content">
<h1 class="title">Contrary to popular belief, Lorem Ipsum is not simply</h1>
<p class="text"> Sale Up To<br>
<strong>80%</strong>
Off
</p>
<a href="shop.html" class="thm-btn btn-rounded thm-bg-color-one">Shop Now <i class="fal fa-long-arrow-right"></i></a>
</div>
</div>
</div>

</div>

<div class="slide-item" style="background-image: url(/images/banner/16.jpg);">

<div class="section-padding">
<div class="container-fluid">
<div class="banner_content">
<h1 class="title">Contrary to popular belief, Lorem Ipsum is not simply</h1>
<p class="text"> Sale Up To<br>
<strong>80%</strong>
Off
</p>
<a href="shop.html" class="thm-btn btn-rounded thm-bg-color-one">Shop Now <i class="fal fa-long-arrow-right"></i></a>
</div>
</div>
</div>

</div>

<div class="slide-item" style="background-image: url(/images/banner/13.jpg);">

<div class="section-padding">
<div class="container-fluid">
<div class="banner_content">
<h1 class="title">Contrary to popular belief, Lorem Ipsum is not simply</h1>
<p class="text"> Sale Up To<br>
<strong>80%</strong>
Off
</p>
<a href="shop.html" class="thm-btn btn-rounded thm-bg-color-one">Shop Now <i class="fal fa-long-arrow-right"></i></a>
</div>
</div>
</div>

</div>

</div>
</div>


<section class="section-padding">
<div class="container-fluid">
<div class="row">

<div class="col-lg-3 col-sm-6">
<div class="htw-block">
<div class="icon">
<i class="fal fa-truck"></i>
</div>
<div class="text">
<h6 class="title">Free Shipping</h6>
<p class="mb-0">Lorem ipsum dolor sit amet.</p>
</div>
</div>
</div>

<div class="col-lg-3 col-sm-6">
<div class="htw-block">
<div class="icon">
<i class="fal fa-shopping-bag"></i>
</div>
<div class="text">
<h6 class="title">100% Secure Payment</h6>
<p class="mb-0">Lorem ipsum dolor sit amet.</p>
</div>
</div>
</div>

<div class="col-lg-3 col-sm-6">
<div class="htw-block">
<div class="icon">
<i class="fal fa-headphones-alt"></i>
</div>
<div class="text">
<h6 class="title">Great Support 24x7</h6>
<p class="mb-0">Lorem ipsum dolor sit amet.</p>
</div>
</div>
</div>

<div class="col-lg-3 col-sm-6">
<div class="htw-block">
<div class="icon">
<i class="fal fa-cube"></i>
</div>
<div class="text">
<h6 class="title">Money - Returns</h6>
<p class="mb-0">Lorem ipsum dolor sit amet.</p>
</div>
</div>
</div>

</div>
</div>
</section>


<section class="section-padding pt-0">
<div class="container-fluid">
<div class="section-header">
<h3 class="title">Chair</h3>
<p class="text">Lorem ipsum dolor sit amet, consectetur.</p>
</div>
<div class="fruits-slider row">

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/fruits/12.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Chair</a>
</div>
<h4 class="title"><a href="shop-details.html">wing Chair</a></h4>
<div class="price">
<span>$55.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>PC</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/fruits/21.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Chair</a>
</div>
<h4 class="title"><a href="shop-details.html">Wooden Chair</a></h4>
<div class="price">
<span>$96.00</span>
<span>$98.25</span>
</div>
<div class="product_qty"><span>1</span>PC</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/fruits/31.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Chair</a>
</div>
<h4 class="title"><a href="shop-details.html">Desk Chair</a></h4>
<div class="price">
<span>$41.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>2</span>PC</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/fruits/41.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Chair</a>
</div>
<h4 class="title"><a href="shop-details.html">Arm Chair</a></h4>
<div class="price">
<span>$74.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>PC</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/fruits/12.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Chair</a>
</div>
<h4 class="title"><a href="shop-details.html">Wing Chair</a></h4>
<div class="price">
<span>$55.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>PC</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/fruits/21.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Chair</a>
</div>
 <h4 class="title"><a href="shop-details.html">Wooden Chair</a></h4>
<div class="price">
<span>$96.00</span>
<span>$98.25</span>
</div>
<div class="product_qty"><span>1</span>PC</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/fruits/31.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Chair</a>
</div>
<h4 class="title"><a href="shop-details.html">Desk Chair</a></h4>
<div class="price">
<span>$41.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>2</span>PC</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/fruits/41.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Chair</a>
</div>
<h4 class="title"><a href="shop-details.html">Arm Chair</a></h4>
<div class="price">
<span>$74.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>PC</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

</div>
</div>
</section>


<section class="section-padding pt-0">
<div class="container-fluid">
<div class="section-header">
<h3 class="title">Sofa</h3>
<p class="text">Lorem ipsum dolor sit amet, consectetur.</p>
</div>
<div class="vegetables-slider row">

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/vegetables/11.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Sofa</a>
</div>
<h4 class="title"><a href="shop-details.html">Cabriole Sofa</a></h4>
<div class="price">
<span>$55.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>PC</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/vegetables/21.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Sofa</a>
</div>
<h4 class="title"><a href="shop-details.html">Settee Sofa</a></h4>
<div class="price">
<span>$61.00</span>
<span>$80.25</span>
</div>
 <div class="product_qty"><span>1</span>PC</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/vegetables/31.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Sofa</a>
</div>
<h4 class="title"><a href="shop-details.html">Lawson Sofa</a></h4>
<div class="price">
<span>$44.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>PC</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/vegetables/41.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Sofa</a>
</div>
<h4 class="title"><a href="shop-details.html">Camelback Sofa</a></h4>
<div class="price">
<span>$25.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>PC</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/vegetables/11.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Sofa</a>
</div>
<h4 class="title"><a href="shop-details.html">Cabriole Sofa</a></h4>
<div class="price">
<span>$55.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>PC</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/vegetables/21.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Sofa</a>
</div>
<h4 class="title"><a href="shop-details.html">Settee Sofa</a></h4>
<div class="price">
<span>$61.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>PC</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
 </div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/vegetables/31.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Sofa</a>
</div>
<h4 class="title"><a href="shop-details.html">Lawson Sofa</a></h4>
<div class="price">
<span>$44.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>PC</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/vegetables/41.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Sofa</a>
</div>
<h4 class="title"><a href="shop-details.html">Camelback Sofa</a></h4>
<div class="price">
<span>$25.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>PC</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

</div>
</div>
</section>


<section class="section-padding pt-0">
<div class="container-fluid">
<div class="row">
<div class="col-lg-6">
<div class="discount_box" style="background-image: url(/images/discount_banner/11.jpg);">
<div class="discount_text">
<h6 class="mb-0 subtitle">Discount 50%</h6>
<h4 class="title mb-2">Curabitur Non Sofa</h4>
<p class="mb-3">Lorem ipsum dolor sit amet, consectetur.</p>
<a href="shop.html" class="thm-btn btn-rounded thm-bg-color-one">Shop Now</a>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="discount_box" style="background-image: url(/images/discount_banner/21.jpg);">
<div class="discount_text">
<h6 class="mb-0 subtitle">Discount 30%</h6>
<h4 class="title mb-2">Crescent ArmChair</h4>
<p class="mb-3">Lorem ipsum dolor sit amet, consectetur.</p>
<a href="shop.html" class="thm-btn btn-rounded thm-bg-color-one">Shop Now</a>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="section-padding pt-0">
<div class="container-fluid">
<div class="section-header">
<h3 class="title">Best Offers on Products</h3>
<p class="text">Lorem ipsum dolor sit amet, consectetur.</p>
</div>
<div class="row accordion" id="accordion">
<div class="col-xl-6">
<div class="row">

<div class="col-lg-12">
<div class="card accordion-item product_list">
<div class="card-header accordion-header">
<div class="btn btn-link accordion-button" data-bs-toggle="collapse" data-bs-target="#itemone">
<div class="list_block">
<div class="list_image">
<img src="/images/offers/11.png" class="image-fit-contain" alt="img">
</div>
<div class="list_text">
<p class="subtitle">Up to 68% OFF</p>
<h5 class="title">Chair & Sofa</h5>
<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
</div>
</div>
</div>
<div id="itemone" class="accordion-collapse collapse show" data-bs-parent="#accordion">
<div class="card-body ">
<div class="row">

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/11.png" class="image-fit-contain" alt="img">
<p class="category">Chair</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
 <div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/21.png" class="image-fit-contain" alt="img">
<p class="category">Chair</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/31.png" class="image-fit-contain" alt="img">
<p class="category">Chair</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/41.png" class="image-fit-contain" alt="img">
<p class="category">Sofa</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/51.png" class="image-fit-contain" alt="img">
<p class="category">Sofa</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/61.png" class="image-fit-contain" alt="img">
<p class="category">Sofa</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

</div>
</div>
</div>
</div>
</div>

 <div class="col-lg-12">
<div class="card product_list accordion-item ">
<div class="card-header accordion-header">
<div class="btn btn-link accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#itemtwo">
<div class="list_block">
<div class="list_image">
<img src="/images/offers/21.png" class="image-fit-contain" alt="img">
</div>
<div class="list_text">
<p class="subtitle">Up to 68% OFF</p>
<h5 class="title">Chair & Sofa</h5>
<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
</div>
</div>
</div>
<div id="itemtwo" class="accordion-collapse collapse" data-bs-parent="#accordion">
<div class="card-body accordion-body">
<div class="row">

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/11.png" class="image-fit-contain" alt="img">
<p class="category">Chair</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/21.png" class="image-fit-contain" alt="img">
<p class="category">Chair</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/31.png" class="image-fit-contain" alt="img">
<p class="category">Chair</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
 <img src="/images/offers/items/41.png" class="image-fit-contain" alt="img">
<p class="category">Sofa</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/51.png" class="image-fit-contain" alt="img">
<p class="category">Sofa</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/61.png" class="image-fit-contain" alt="img">
<p class="category">Sofa</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

</div>
</div>
</div>
</div>
</div>

</div>
</div>
<div class="col-xl-6">
<div class="row">

<div class="col-lg-12">
<div class="card product_list accordion-item ">
<div class="card-header accordion-header">
<div class="btn btn-link accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#itemthree">
<div class="list_block">
<div class="list_image">
<img src="/images/offers/31.png" class="image-fit-contain" alt="img">
</div>
<div class="list_text">
<p class="subtitle">Up to 68% OFF</p>
<h5 class="title">Chair & sofa</h5>
<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
</div>
</div>
</div>
<div id="itemthree" class="accordion-collapse collapse" data-bs-parent="#accordion">
<div class="card-body accordion-body">
<div class="row">

<div class="col-sm-4 col-6">
 <div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/11.png" class="image-fit-contain" alt="img">
<p class="category">Chair</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/21.png" class="image-fit-contain" alt="img">
<p class="category">Chair</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/31.png" class="image-fit-contain" alt="img">
<p class="category">Chair</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/41.png" class="image-fit-contain" alt="img">
<p class="category">Sofa</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/51.png" class="image-fit-contain" alt="img">
<p class="category">Sofa</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
 <img src="/images/offers/items/61.png" class="image-fit-contain" alt="img">
<p class="category">Sofa</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

</div>
</div>
</div>
</div>
</div>

<div class="col-lg-12">
<div class="card product_list accordion-item ">
<div class="card-header accordion-header">
<div class="btn btn-link accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#itemfour">
<div class="list_block">
<div class="list_image">
<img src="/images/offers/41.png" class="image-fit-contain" alt="img">
</div>
<div class="list_text">
<p class="subtitle">Up to 68% OFF</p>
<h5 class="title">Chair & Sofa</h5>
<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
</div>
</div>
</div>
<div id="itemfour" class="accordion-collapse collapse" data-bs-parent="#accordion">
<div class="card-body accordion-body">
<div class="row">

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/11.png" class="image-fit-contain" alt="img">
<p class="category">Chair</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/21.png" class="image-fit-contain" alt="img">
<p class="category">Chair</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
 <img src="/images/offers/items/31.png" class="image-fit-contain" alt="img">
<p class="category">Chair</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/41.png" class="image-fit-contain" alt="img">
<p class="category">Sofa</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/51.png" class="image-fit-contain" alt="img">
<p class="category">Sofa</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/61.png" class="image-fit-contain" alt="img">
<p class="category">Sofa</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

</div>
</div>
</div>
</div>
</div>

<div class="col-lg-12">
<div class="card product_list accordion-item ">
<div class="card-header accordion-header">
<div class="btn btn-link accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#itemfive">
<div class="list_block">
<div class="list_image">
<img src="/images/offers/51.png" class="image-fit-contain" alt="img">
</div>
<div class="list_text">
<p class="subtitle">Up to 68% OFF</p>
<h5 class="title">Chair & Sofa</h5>
<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
</div>
</div>
</div>
<div id="itemfive" class="accordion-collapse collapse" data-bs-parent="#accordion">
<div class="card-body accordion-body">
<div class="row">

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/11.png" class="image-fit-contain" alt="img">
<p class="category">Chair</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/21.png" class="image-fit-contain" alt="img">
<p class="category">Chair</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/31.png" class="image-fit-contain" alt="img">
<p class="category">Chair</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/41.png" class="image-fit-contain" alt="img">
<p class="category">Sofa</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/51.png" class="image-fit-contain" alt="img">
 <p class="category">Sofa</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/61.png" class="image-fit-contain" alt="img">
<p class="category">Sofa</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

</div>
</div>
</div>
</div>
</div>

<div class="col-lg-12">
<div class="card product_list accordion-item ">
<div class="card-header accordion-header">
<div class="btn btn-link accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#itemsix">
<div class="list_block">
<div class="list_image">
<img src="/images/offers/61.png" class="image-fit-contain" alt="img">
</div>
<div class="list_text">
<p class="subtitle">Up to 68% OFF</p>
<h5 class="title">Chair & Sofa</h5>
<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
</div>
</div>
</div>
<div id="itemsix" class="accordion-collapse collapse" data-bs-parent="#accordion">
<div class="card-body accordion-body">
<div class="row">

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/11.png" class="image-fit-contain" alt="img">
<p class="category">Chair</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/21.png" class="image-fit-contain" alt="img">
<p class="category">Chair</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/31.png" class="image-fit-contain" alt="img">
<p class="category">Chair</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/41.png" class="image-fit-contain" alt="img">
<p class="category">Sofa</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/51.png" class="image-fit-contain" alt="img">
<p class="category">Sofa</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

<div class="col-sm-4 col-6">
<div class="list_block_item">
<a href="shop-details.html">
<img src="/images/offers/items/61.png" class="image-fit-contain" alt="img">
<p class="category">Sofa</p>
<h6 class="title">Up to <strong>65%</strong> OFF</h6>
</a>
</div>
</div>

</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
</section>


<section class="section-padding pt-0">
<div class="container-fluid">
<div class="section-header">
<h3 class="title">Dining Table Set</h3>
<p class="text">Lorem ipsum dolor sit amet, consectetur.</p>
</div>
<div class="drinks-slider row">

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/drinks/11.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Dining Table</a>
</div>
<h4 class="title"><a href="shop-details.html">6 Seaters Chair Dining Table</a></h4>
<div class="price">
<span>$55.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>Set</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/drinks/21.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Dining Table</a>
</div>
<h4 class="title"><a href="shop-details.html">3 Seaters Chair Dining Table </a></h4>
<div class="price">
<span>$61.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>Set</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
 <span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/drinks/31.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Dining Table</a>
</div>
<h4 class="title"><a href="shop-details.html">12 Seaters Chair Dining Table</a></h4>
<div class="price">
<span>$44.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>Set</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/drinks/41.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Dining Table</a>
</div>
<h4 class="title"><a href="shop-details.html">8 Seaters Chair Dining Table</a></h4>
<div class="price">
<span>$25.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>Set</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
 <a href="shop-details.html">
<img src="/images/product/drinks/11.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Dining Table</a>
</div>
<h4 class="title"><a href="shop-details.html">6 Seaters Chair Dining Table</a></h4>
<div class="price">
<span>$55.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>Set</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/drinks/21.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Dining Table</a>
</div>
<h4 class="title"><a href="shop-details.html">3 Seaters Chair Dining Table</a></h4>
<div class="price">
<span>$61.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>Set</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/drinks/31.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
 <a href="shop.html">Dining Table</a>
</div>
<h4 class="title"><a href="shop-details.html">12 Seaters Chair Dining Table</a></h4>
<div class="price">
<span>$44.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>Set</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/drinks/41.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Dining Table</a>
</div>
<h4 class="title"><a href="shop-details.html">8 Seaters Chair Dining Table</a></h4>
<div class="price">
<span>$25.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>Set</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

</div>
</div>
</section>


<section class="section-padding pt-0">
<div class="container-fluid">
<div class="section-header">
<h3 class="title">Table Lamp</h3>
<p class="text">Lorem ipsum dolor sit amet, consectetur.</p>
</div>
<div class="bakery-slider row">

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/bakery/11.png" class="image-fit-contain" alt="img">
 </a>
</div>
<div class="product_categories">
<a href="shop.html">Table Lamp</a>
</div>
<h4 class="title"><a href="shop-details.html">Bottle Table Lamp</a></h4>
<div class="price">
<span>$55.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>Pc.</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/bakery/21.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Table Lamp</a>
</div>
<h4 class="title"><a href="shop-details.html">Decorative Table Lamp</a></h4>
<div class="price">
<span>$61.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>Pc.</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/bakery/31.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Table Lamp</a>
</div>
<h4 class="title"><a href="shop-details.html">Study Table Lamp</a></h4>
<div class="price">
<span>$44.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>Pc.</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/bakery/41.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Table Lamp</a>
</div>
<h4 class="title"><a href="shop-details.html">Heti Table Lamp</a></h4>
<div class="price">
<span>$25.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>Pc.</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/bakery/11.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Table Lamp</a>
</div>
<h4 class="title"><a href="shop-details.html">Bottle Table Lamp</a></h4>
<div class="price">
<span>$55.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>Pc.</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/bakery/21.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Table Lamp</a>
</div>
<h4 class="title"><a href="shop-details.html">Decorative Table Lamp</a></h4>
<div class="price">
<span>$61.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>Pc.</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/bakery/31.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Table Lamp</a>
</div>
<h4 class="title"><a href="shop-details.html">Study Table Lamp</a></h4>
<div class="price">
<span>$44.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>Pc.</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

<div class="slide-item px-3">
<div class="product_block">
<div class="product_top">
<span class="product_tag">30% Off</span>
<button type="button" class="icon">
<i class="fal fa-heart"></i>
</button>
</div>
<div class="product_image">
<a href="shop-details.html">
<img src="/images/product/bakery/41.png" class="image-fit-contain" alt="img">
</a>
</div>
<div class="product_categories">
<a href="shop.html">Table Lamp</a>
</div>
<h4 class="title"><a href="shop-details.html">Heti Table Lamp</a></h4>
<div class="price">
<span>$25.00</span>
<span>$80.25</span>
</div>
<div class="product_qty"><span>1</span>Pc.</div>
<div class="product_action">
<button type="button" class="product_btn">ADD <i class="fal fa-plus"></i></button>

</div>
</div>
</div>

</div>
</div>
</section>


<section class="section-padding pt-0">
<div class="container-fluid">
<div class="section-header">
<h3 class="title">What Clients Say</h3>
<p class="text">Lorem ipsum dolor sit amet, consectetur.</p>
</div>
<div class="testimonial-slider row">

<div class="slide-item px-3">
<div class="testimonial_block">
<div class="testimonial_image">
<img src="/images/testimonials/1.jpg" class="image-fit rounded-circle" alt="img">
</div>
<div class="testimonial_comment">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</div>
<div class="testimonial_footer">
<div class="quote_icon">
<i class="fal fa-quote-left"></i>
</div>
<div class="testimonial_author">
<h5 class="name mb-0">Jhon Deo</h5>
<p class="mb-0">Manager</p>
</div>
</div>
</div>
</div>

<div class="slide-item px-3">
<div class="testimonial_block">
<div class="testimonial_image">
<img src="/images/testimonials/2.jpg" class="image-fit rounded-circle" alt="img">
</div>
<div class="testimonial_comment">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</div>
<div class="testimonial_footer">
<div class="quote_icon">
<i class="fal fa-quote-left"></i>
</div>
<div class="testimonial_author">
<h5 class="name mb-0">Anna Wright</h5>
<p class="mb-0">CEO</p>
</div>
</div>
</div>
</div>

<div class="slide-item px-3">
<div class="testimonial_block">
<div class="testimonial_image">
<img src="/images/testimonials/1.jpg" class="image-fit rounded-circle" alt="img">
</div>
<div class="testimonial_comment">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</div>
<div class="testimonial_footer">
<div class="quote_icon">
<i class="fal fa-quote-left"></i>
</div>
<div class="testimonial_author">
<h5 class="name mb-0">Jhon Deo</h5>
<p class="mb-0">Manager</p>
</div>
</div>
</div>
</div>

<div class="slide-item px-3">
<div class="testimonial_block">
<div class="testimonial_image">
<img src="/images/testimonials/2.jpg" class="image-fit rounded-circle" alt="img">
</div>
<div class="testimonial_comment">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</div>
<div class="testimonial_footer">
<div class="quote_icon">
<i class="fal fa-quote-left"></i>
</div>
<div class="testimonial_author">
<h5 class="name mb-0">Anna Wright</h5>
<p class="mb-0">CEO</p>
</div>
</div>
</div>
</div>

</div>
</div>
</section>


<section class="section section-bg relative newsletter_bg" style="background-image: url(/images/newsletter2.jpg);">
<div class="container-fluid">
<div class="row">
<div class="col-xl-5">
<div class="newsletter_text">
<h2 class="title">
Contrary to popular belief, Lorem Ipsum.
</h2>
<p>Lorem ipsum dolor sit amet, consectetur.</p>
<form action="#" method="POST">
<div class="input-group">
<span class="input-group-text">
<i class="fal fa-envelope"></i>
</span>
<input type="email" class="form-control" placeholder="Email Address" autocomplete="off" required="">
<div class="input-group-append">
<button class="thm-btn thm-bg-color-one" type="submit">Subscribe</button>
</div>
 </div>
</form>
</div>
</div>
</div>
</div>
</section>


<footer class="footer section-padding border-top">
<div class="container-fluid">
<div class="row">
<div class="col-xl-2 col-sm-4">
<div class="ft_widget border-sm-0 pl-sm-0">
<h6 class="ft_title">Find a Store<br> Shop Gift Cards</h6>
<p class="mb-2">Follow Us:</p>
<ul class="ft_social">
<li>
<a href="#">
<i class="fab fa-facebook-f"></i>
</a>
</li>
<li>
<a href="#">
<i class="fab fa-twitter"></i>
</a>
</li>
<li>
<a href="#">
<i class="fab fa-instagram"></i>
</a>
</li>
</ul>
</div>
</div>
<div class="col-xl-2 col-sm-4">
<div class="ft_widget">
<h6 class="ft_title">Help Center</h6>
<ul class="ft_menu">
<li>
<a href="payment.html">Payments</a>
</li>
<li>
<a href="#">Shipping</a>
</li>
<li>
<a href="#">Product Returns</a>
</li>
<li>
<a href="faqs.html">FAQ's</a>
</li>
<li>
<a href="checkout.html">Checkout</a>
</li>
<li>
<a href="blog.html">Blog</a>
</li>
</ul>
</div>
</div>
<div class="col-xl-2 col-sm-4">
<div class="ft_widget">
<h6 class="ft_title">Useful Links</h6>
<ul class="ft_menu">
<li>
<a href="index.html">Home</a>
</li>
<li>
<a href="contact.html">Contact</a>
</li>
<li>
<a href="about.html">About</a>
</li>
<li>
<a href="terms-conditions.html">Terms & Conditions</a>
</li>
<li>
<a href="privacy.html">Policy</a>
</li>
<li>
<a href="order-list.html">My Orders</a>
</li>
</ul>
</div>
</div>
<div class="col-xl col-sm-8">
<div class="ft_widget">
<h6 class="ft_title">Contact Us</h6>
<p class="mb-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
<ul class="ft_contact">
<li>
<a href="#">
<i class="fas fa-map-marker-alt"></i>
14 Prospect Row, Bury St. Edmunds
</a>
 </li>
<li>
<a href="tel:0002583745351">
<i class="fas fa-phone"></i>
000 2583 745 351
</a>
</li>
<li>
<a href="/cdn-cgi/l/email-protection#ec89948d819c8089ac89948d819c8089c28f8381">
<i class="fas fa-envelope"></i>
<span class="__cf_email__" data-cfemail="16736e777b667a7356736e777b667a733875797b">[email&#160;protected]</span>
</a>
</li>
</ul>
</div>
</div>
<div class="col-xl-2 col-sm-4">
<div class="ft_widget">
<h6 class="ft_title">Categories</h6>
<ul class="ft_menu">
<li>
<a href="shop.html">Chair</a>
</li>
<li>
<a href="shop.html">Sofa</a>
</li>
<li>
<a href="shop.html">Dining Table</a>
</li>
<li>
<a href="shop.html">Table Lamp</a>
</li>
<li>
<a href="shop.html">Desk</a>
</li>
<li>
<a href="shop.html">cabinets</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</footer>


<div class="copyright">
<div class="container-fluid">
<p class="mb-0">@Copyright 2022. <a href="#" class="thm-color-one">Website.com</a> All Rights Reserved</p>
</div>
</div>


<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/js/plugins/jquery-3.6.0.min.js"></script>
<script src="/js/plugins/bootstrap.bundle.min.js"></script>
<script src="/js/plugins/slick.min.js"></script>
<script src="/js/plugins/jquery.magnific-popup.min.js"></script>
<script src="/js/plugins/jquery.counterup.min.js"></script>
<script src="/js/plugins/jquery.inview.min.js"></script>
<script src="/js/custom.js"></script>
</body>
</html>