
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login </title>
</head>
<body>
Login page<br>
<form action="/addUser" method="post">
    <div><label> Email : <input type="text" name="email"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Login"/></div>
</form><br>

<!--<a href="/register">register</a>-->
<a href="/product"> Product</a><br>
<a href="/product/add">Add new Product</a><br>


<a href="/addUser">register User</a>


</body>
</html>

