<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registre </title>
</head>
<body>
Add new user

<form action="/addUser" method="post">
    <div><label>Name : <input type="text" name="name"/> </label></div>
    <div><label>Surname : <input type="text" name="username"/> </label></div>
    <div><label> Email : <input type="text" name="email"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>

    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>



